<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
    <div class="ui-bg-overlay-container" id="header">
        <div class="ui-bg-overlay bg-dark opacity-25">
            <p>Your account is being verified. please wait......</p>
        </div>
        <p class="d-flex justify-content-center align-items-center">
            Redirecting to login page......
        </p>
        <div>

        </div>
    </div>
</body>

</html>


<script>
    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "https://162.55.161.40/login";

    }, 6000);
</script>