<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
    <div class="ui-bg-overlay-container" id="header">
        <div class="ui-bg-overlay bg-dark opacity-25">
            <p>Sorry Payment unsuccessful. something wrong.</p>
        </div>
        <p class="d-flex justify-content-center align-items-center">
            Please wait a moment. It will redirect to home page...........
        </p>
        <div>

        </div>
    </div>
</body>

</html>


<script>
    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "https://162.55.161.40/";

    }, 6000);
</script>