@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 

<div class="small-container" style="margin: 80px auto;">
    <table style="width: 100%; border-collapse: collapse ">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>Product name</td>
            <td> <label for="quantity">1</label> </td>
            <td>Product name</td>
        </tr>
    </table>
</div>




@* jquery link(mainly for ajax) *@
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
    

</script>



