@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div  style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-5">
                    <div >
                        @{
                            var file_path = "ProductImages/" + Model.file_name;
                            <img style="border: 3px solid #555;" src="@file_path" height="400" width="400" alt="...">
                        }
                    </div>
            </div>

            <div class="col-md-7">
                <p style="" class="newarrival text-centre">NEW</p>
                <h2>@Model.product_name</h2>
                <p class="price">৳@Model.per_unit_price</p>
                <a  class="btn btn-outline-secondary" href="Payment/DemoPayment2?product_id=@Model.product_id" >Buy Now</a>
                <a  class="btn btn-outline-secondary" onclick="PackageDetails(\'' + item.package_name + '\')">Add to Cart</a>
            </div>
        </div>
        <br>
        <br>
        <h5>You May also buy these</h5>
        <br>
        <div class="row centre" id="product_cards">
        </div>


    </div>
    </div>
</div>






<script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>


<script>
    
    
    
    
    
    
    SuggestedProducts();

    function SuggestedProducts(){
        console.log("this is LoadProduct");
        
        $.ajax({
            type : "GET",
            url : "/Home/SuggestedProducts",
            success : function(response){
                var card_container = $("#product_cards");
                card_container.empty();

                $.each(response, function(i,item){
                    var file_path = "ProductImages/"+item.file_name;
                    
                    $('<div class="col-lg-2 col-md-4 mb-2">').append(
                        $('<div class="card h-60">').append(
                            $('<a href="#!"><img class="card-img-top" src='+ file_path +' width="200" height="100" alt="..." />'),
                            $('<div class="card-body">').append(
                                $('<a href="/ProductPage">').text(item.product_name),
                                $('<h5>').text("৳"+item.per_unit_price+".00"),
                                $('<a  class="btn btn-outline-secondary" onclick="PackageDetails(\'' + item.package_name + '\')">').text('Add To Cart'),
                                $('<a  class="btn btn-outline-secondary" onclick="PackageDetails(\'' + item.package_name + '\')">').text('Buy Now')
                            )
                        )
                     ).appendTo(card_container);
                });

         
            },
            failure : function(response){
                alert(response);
            }
        });
    }

</script>



