@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div  style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-8">
                    <div >
                        @{
                            var file_path = "ProductImages/" + Model.file_name;
                            <img style="border: 3px solid #555;" src="@file_path" height="300" width="400" alt="...">
                        }
                    </div>
            </div>

            <div class="col-md-6">
                <p style="" class="newarrival text-centre">NEW</p>
                <h2>@Model.product_name</h2>
                <p class="price">৳@Model.per_unit_price</p>
                <input type="number" id="product_quantity" value="1" style="width: 50px; height:40px; padding-left:10px; font-size:20px; margin-right:10px;border: 1px solid #ff523b; ">
                <br>
                <br>
                <button class="btn btn-outline-secondary" href="">Buy Now</button>
                @* href="Payment/DemoPayment2?product_id=@Model.product_id&what=buynow" *@
                <a  class="btn btn-outline-secondary" id="addtocart" onclick="AddtoCart('@Model.product_id')">Add to Cart</a>
                @* onclick="PackageDetails(\'' + item.package_name + '\')" *@
            </div>
        </div>
        
    </div>
    </div>

    <br>
        <br>
        <h5>You May also buy these</h5>
        <br>
        <div class="row centre" id="product_cards">
        </div>
        <div><br><br></div>
</div>






@* jquery link(mainly for ajax) *@


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    
    
    
    
    
    
    SuggestedProducts();

    function SuggestedProducts(){
        
        $.ajax({
            type : "GET",
            url : "/Home/SuggestedProducts",
            success : function(response){
                var card_container = $("#product_cards");
                card_container.empty();

                $.each(response, function(i,item){
                    var file_path = "ProductImages/"+item.file_name;
                    
                    $('<div class="col-lg-2 col-md-4 mb-2">').append(
                        $('<div class="card h-60">').append(
                            $('<a href="#!"><img class="card-img-top" src='+ file_path +' width="180" height="70" alt="..." />'),
                            $('<div class="card-body">').append(
                                $('<a href="/ProductPage?product_id='+item.product_id+'">').text(item.product_name),
                                $('<h5>').text("৳"+item.per_unit_price+".00"),
                                @* $('<a  class="btn btn-outline-secondary" onclick="PackageDetails(\'' + item.package_name + '\')">').text('Add To Cart'),
                                $('<a  class="btn btn-outline-secondary" onclick="BuyNow(\'' + item.product_id + '\')">').text('Buy Now') *@
                            )
                        )
                     ).appendTo(card_container);
                });

         
            },
            failure : function(response){
                alert(response);
            }
        });
    }
    @* var product_id = "";
    function BuyNow2(p_id){
        product_id = p_id;
        
    } *@


    function AddtoCart(product_id){
        var quantity = document.getElementById("product_quantity").value;
        var a = document.getElementById('addtocart');
        a.href = "/Payment/BuyNoworAddtoCart?product_id=" +product_id+"&quantity="+quantity+"&what=cart";
    }


    function BuyNow(product_id){
        var quantity = document.getElementById("product_quantity").value;

        $.ajax({
            type: "Post",
            url: "/Payment/BuyNoworAddtoCart?product_id=" +product_id+"&quantity="+quantity+"&what=cart",
            success: function(result) {
                console.log("cart icon chnage");
              
            },
            failure: function() {
                alert("something wrong!Sorry.");   
            }
        });
    }


</script>


